h1 /* Couleur de la balise h1 */
{
  color: red;
}

body /* Tout le site */
{
  background-color: blue; /* Couleur du fond */
  font-family: 'Sofia'; /* police */
  font-size: 22px; /* Taille */

}

#carte
{

  width: 800px; /* Largeur du block 800 pixel*/
  margin:0 auto; /* La zone de width au millieu de la page */
  background-color: white; /* Couleur de block */
  text-align: center; /* Centre les texts */
  align-content: center; /* Centre  les lignes */
}

ul li
{
  list-style-type: none; /* enlever les point sur la liste*/
}
